.chatwindow {
  width: 700px;
  //min-height: 400px;
  //height: auto;
  height: calc(100vh - 140px);
  overflow: auto;
  margin: 0 auto;
  padding: 20px;
  //border-radius: 20px;
  background-color: rgba(#fefefe, .8);
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(black,.5);

}

.chatwindow h1 {
  font-size: 1rem;
  font-style: normal;
}