.title {
  background-color: #384042;
  max-width: 700px;
  margin: 0 auto;
  height: 50px;
  border-radius: 10px 10px 0 0 ;
  box-sizing: border-box;
  position: relative;


}

.title h1 {
  color: white;
  width: 100%;
  text-align: center;
  line-height: 50px;

}

.title__help {
  position: absolute;
  top: 14px;
  right: 10px;

}


//@media screen and (min-width: $bp5) {
//  .title {
//    width: 80%;
//  }
//}
//
//@media screen and (min-width: $bp4) {
//  .title {
//    width: 60%;
//  }
//}
//
//@media screen and (min-width: $bp3) {
//  .title {
//    width: 40%;
//  }
//}
//
//
//@media screen and (min-width: $bp2) {
//  .title {
//    width: 20%;
//  }
//}
//
//@media screen and (min-width: $bp1) {
//  .title {
//    width: 0;
//  }
//}
