.title {
  background-color: #384042;
  max-width: 700px;
  margin: 0 auto;
  height: 50px;
  border-radius: 10px 10px 0 0 ;
  box-sizing: border-box;
  position: relative;


}

.title h1 {
  color: white;
  width: 100%;
  text-align: center;
  line-height: 50px;

}

.title__help {
  position: absolute;
  top: 14px;
  right: 10px;

}



